.header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.header-bg {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  padding-bottom: 5px;
  background: #a575fe65;
  grid-column: 2 / 6;
  border-radius: 8px;
  border: solid;
  font-family: "superstar", Arial, sans-serif;
  font-size: 2.5rem;
  padding-top: 10px;
}

.header-bg a {
  text-decoration: none;
  color: black;
}
.header-bg a:hover {
  color: #a675fe;
}
